<p><%= link_to_if @policy.allowed(:export?), 'Export', { action: :export } %></p> 

<% @users.each do |user| %>
  <%= link_to_if policy(user).allowed(:show?), 'Show', { action: :show, id: user.id } %>
  <%= user.id %>: <%= user.name %>
  <br>
<% end %>
